.env
.vscode/*
results/*
src/__pycache__/*
analysis/__pycache__/*
src/wandb/*
src/20260121_personas_with_bio_2000_noLoveHate_.json
src/20260123_personas_with_bio_2000_noLoveHate_noPartyId_.json
src/20260124_personas_with_bio_2000_noLoveHate_noVoted2020_.json
src/20260125_personas_with_bio_2000_noBioLoveHate_.json
src/20260128_personas_with_bio_2000_noBioLoveHate_noBioPartyId_.json
src/20260129_personas_with_bio_2000_noBioLoveHate_noBioVoted2020_.json
src/20260227_personas_with_bio_2000_noLoveHate_noPartyId_noVoted2020_.json
src/20260305_personas_with_bio_2000_noBioLoveHate_noBioPartyId_noBioVoted2020_.json
src/News_Category_Dataset_v3.json
analysis/artifacts/*
